main{
    width: 100%;
    height: 100vh;
    position: relative;
    >*{
        position: absolute;
    }
    overflow: hidden;
}
.load{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;left: 0;
    z-index: 5;
    overflow: hidden;
    animation: load 4s .8s ease-out forwards;
    @keyframes load {
        80%{
            top: 20%;
            left: 40%;
            width: 20%;
            height: 60vh;
        }
        100%{
            top: 20%;
            left: 20%;
            width: 20%;
            height: 60vh;
        }
    }
    >*{
        position: absolute;
    }
    >figure{
        width: 100%;
        height: 100vh;
        top: 0;right: -100%;
        >img{
            width: 100%;
            height: 100%;
        }
        &:nth-of-type(1){
            animation: first .8s linear forwards;
        }
        &:nth-of-type(2){
            animation: first .7s .7s linear forwards;
        }
        &:nth-of-type(3){
            animation: first .6s 1.3s linear forwards;
        }
        &:nth-of-type(4){
            animation: first .5s 1.8s linear forwards;
        }
        &:nth-of-type(5){
            animation: first .4s 2.2s linear forwards;
        }
        &:nth-of-type(6){
            animation: first .3s 2.5s linear forwards;
        }        
        @keyframes first{
            to{
                right: 0;
                z-index: 2;
            }
        }
    }
    >div{
        width: 100%;
        height: 100%;
        right: -100%;top: 0;
        position: relative;
        animation: second .5s 5.5s linear forwards;
        @keyframes second {
            from{
                z-index: 0;
                opacity: 0;
                right: -100%;
            }
            to{
                z-index: 5;
                opacity: 1;
                right: 0;
            }
        }
        >figure{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: -100%;
            animation-duration: 10s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            >img{
                width: 100%;
                height: 100%;
            }
            &:nth-of-type(1){
                animation-name: img1;
            }
            &:nth-of-type(2){
                animation-name: img2;
            }
            &:nth-of-type(3){
                animation-name: img3;
            }
            &:nth-of-type(4){
                animation-name: img4;
            }
            @keyframes img1{
                0%{
                    right: 0;
                }
                22%{
                    right: 0;
                }
                28%{
                    right: 100%;
                }
                28.00001%, 94%{
                    right: -100%;
                }
                100%{
                    right: 0;
                }
            }    
            @keyframes img2 {
                22%{
                    right: -100%;
                }
                28%, 47%{
                    right: 0;
                }
                53%{
                    right: 100%;
                }
                53.000000001%, 100%{
                    right: -100%;
                }
            }
            @keyframes img3{
                47%{
                    right: -100%;
                }
                53%, 72%{
                    right: 0;
                }
                78%{
                    right: 100%;
                }
                78.000001%, 100%{
                    right: -100%;
                }
            }
            @keyframes img4 {
                72%{
                    right: -100%;
                }
                78%, 94%{
                    right: 0;
                }
                99.999%{
                    right: 100%;
                }
                100%{
                    right: -100%;
                }
            }
        }
    }
    >h2{
        z-index: 5;
        text-transform: uppercase;
        color: white;
        font-weight: 100;
        font-size: 150px;
        opacity: 0;
        &:nth-of-type(1){
            animation: letter 3s .5s linear forwards;
            left: 30%;
        }
        &:nth-of-type(2){
            animation: letter 3s .7s linear forwards;
            left: 40%;
        }
        &:nth-of-type(3){
            animation: letter 3s .9s linear forwards;
            left: 50%;
        }
        &:nth-of-type(4){
            animation: letter 3s 1.1s linear forwards;
            left: 60%;
        }
        @keyframes letter {
            0%{
                opacity: 0;
                top: 33%;
                font-size: 150px;
            }
            20%, 70%{
                opacity: 1;
                top: 30%;
                font-size: 150px;
            }
            100%{
                font-size: 50px;
                opacity: 1;
                top: 40%;
            }
        }
    }
}
.name{
    width: 20%;
    height: 20vh;
    // border: 2px solid red;
    position: fixed;
    overflow: hidden;
    top: 40%;
    opacity: 0;
    animation: name .5s 5.5s linear forwards;
    @keyframes name {
        to{
            opacity: 1;
        }
    }
    >h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px;
        font-weight: 100;
        width: 100%;height: 100%;
        text-transform: capitalize;
        position: absolute;
        top: 0;right: -100%;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &:nth-of-type(1){
            animation-name: img1;
        }
        &:nth-of-type(2){
            animation-name: img2;
        }
        &:nth-of-type(3){
            animation-name: img3;
        }
        &:nth-of-type(4){
            animation-name: img4;
        }
    }
}

#slide{
    width: 100%;
    height: 100vh;
    z-index: 10;
    transition: 2s;
    position: fixed;
    overflow: hidden;
    top: 0; 
    right: -70%;
    opacity: 0;
    animation: name2 1s 5s linear forwards;
    @keyframes name2 {
        to{
            opacity: 1;
        }
    }
    >a{
        display: flex;
        width: 50px;
        height: 20px;
        color: white;
        text-transform: uppercase;
        font-size: 30px;
        transform: rotate(90deg);
        position: absolute;
        top: 5%;left: 3%;
        opacity: 0;
        animation: button .5s 5.5s linear forwards;
        @keyframes button {
            to{
                opacity: 1;
                z-index: 100;
            }
        }
    }
    >figure{
        width: 33.3%;
        height: 100%;
        position: absolute;
        top: 0;
        right: -100%;
        animation-name: pic;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        >img{
            width: 100%;
            height: 100%;
        }
        &:nth-of-type(2){
            animation-delay: 2.5s;
        }
        &:nth-of-type(3){
            animation-delay: 5s;
        }
        &:nth-of-type(4){
            animation-delay: 7.5s;
        }
        @keyframes pic{
            0%{
                right: 0;
            }
            19%{
                right: 0;
            }
            25%, 44%{
                right: 33.3%;
            }
            50%, 69%{
                right: 66.6%;
            }
            75%, 94%{
                right: 99.9%;
            }
            94.0001%{
                right: -33%;
            }
            100%{
                right: 0;
            }
        }
    }    
}